@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'NeueMontreal';
    src: url("./assets/fonts/NeueMontreal-Light.otf") format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url("./assets/fonts/NeueMontreal-Regular.otf") format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url("./assets/fonts/NeueMontreal-Medium.otf") format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url("./assets/fonts/NeueMontreal-Bold.otf") format('opentype');
    font-weight: 700;
    font-style: normal;
}

@theme{
    --font-neue: 'NeueMontreal', sans-serif;
    --font-impact: Impact;
    --font-poppins: 'Poppins', sans-serif;
    --color-title: #E05F5F;
    --color-white: #EAEAEA;
    --color-gray: #1D1D1D;
}

